@import './fonts';

$primary-color: #1D7874;
$dark-primary-color: #071E22;
$light-primary-color: #679289;
$accent-color: #EE2E31;
$text-primary-color: #f1f1f1;
$text-accent-color: #212121;

$beige: #F4C095;