@import './_reset.scss';
@import './_variables.scss';

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.section{
  width: 100vw;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
}

h2 {
  font-size: 40px;
  margin-top: 10px;
}
