@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

.footer{
    height: 40px;
    background-color: #071E22;
    color: $text-primary-color;
    text-align: center;
    font-size: 14px;
    //border-top: 1px solid #f1f1f1;

    @extend %flex-center;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        transform: translateY(-20px);
        opacity: 0.5;
        background-color:#f1f1f1;
    }
}