@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

.navContainer{
    //background-color: white;
    animation-name: animation-nav;
    animation-duration: 2s;
    display: flex;
    
    font-size: 15px;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 65px;
    transition: background-color 0.5s ease;

    ul {
        display: flex;
    }

    li {
        @extend %flex-center;
        margin: 15px 10px;
        padding: 0 15px;
        border-radius: 5%;
        min-width: 70px;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        a{
            color: $text-primary-color;
            pointer-events: none;
        }
    }

    li.active{
        background-color: #679289;
    }

    li:not(.logo, .contactMe, .active)::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $text-primary-color;
        transform: translate(-110%, 15px);
        transition: transform .3s ease-out;
        pointer-events: none;
        
    }

    li:not(.logo, .contactMe, .active):hover::before{
        transform: translate(0, 15px);
        
    }

    .contactMe{
        text-transform: uppercase;
        margin-left: 30px;
        padding: 5px 15px;
        border-radius: 15px;
        background-color: $accent-color;
        font-weight: 600;

        a {
            color: $text-accent-color;
        }
        &:hover{
            filter: opacity(0.8);
        }
    }
}

.svg{
    path{
        fill: #f1f1f1; 
    }
    height: 32px;
    width: auto;
    
    &:hover{
        filter: opacity(0.8);
    }
    
}

.navContainer.active{
    background-color: $text-primary-color;
    a{
        color: $text-accent-color;
    }

    li:not(.logo, .contactMe)::before {
        background-color: $text-accent-color;      
    }

    .svg{
        filter: opacity(0.8);
        path{
            fill: $text-accent-color; 
        }
        &:hover{
            filter: opacity(0.6);
        }
    }
}


@keyframes animation-nav {
    0% {
        transform: translate(0,-300px);
    }
    100% {
        transform: translate(0,0);
    }
}