@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

.portfolioContainer {
    height: calc(#{$constraintSecHeight} - #{$navHeight});
    width: 88vw;
    min-width: 35rem;
    transition: transform 1.5s ease-out;
    border-radius: 2%;
    @extend %flex-center;

    text-align: center;
    color: $text-primary-color;

    @media #{$medium-down-small-height} {
        // In small screen, height will be: .titleContainer.height + .projectsContainer.height  + (.projectsContainer.margin-vertical * 2) + .app.margin-top = 24.5 + 50 (or 45 for xxsmall screen but let take 50) + 30px = 74.5rem + 30px
        height: auto;
        flex-direction: column;
        &.app {
            flex-direction: column-reverse;
            margin-top: 50px;
        }
    }

}

.titleContainer {
    @extend %flex-center;
    flex-direction: column;
    .h2 {
        line-height: 5.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }
    .svg {
        height: 14rem !important;
        width: auto;
    }

    @media #{$medium-down-small-height} {
        // In small screen, height of .titleContainer will be: h2.line-height + h2.margin-top + svg.margin-bottom + svg.height = 5.5 + 2 + 15 + 2 = 24.5rem
        margin-bottom: 2rem;
        .svg {
            height: 15rem !important;
        }
    }

    @media #{$xLarge-up} {
        .svg {
            height: 20rem !important;
        }
    }

    @media #{$xxLarge-up} {
        .svg {
            height: 25rem !important;
        }
    }
}

.projectsContainer {
    height: 80%;
    width: 40%;
    max-width: 400px;
    margin: 15px 0;
    position: relative;
    @extend %flex-center;
    flex-direction: column;

    .project {
        pointer-events: all;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1%;
        z-index: -1;
        transition: all 0.2s ease-out;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        & * {
            pointer-events: none;
        }
    }

    .pos1 {
        background-color: #f1f1f1;
        transform: translateX(-30%) scale(0.9);
        opacity: 0.5;

        img {
            pointer-events: none !important;
        }
    }

    .pos2 {
        background-color: #f1f1f1; //$light-primary-color; //$accent-color;
        z-index: 10;
        opacity: 1;
        box-shadow: 2px 3px 25px 4px #333;
    }

    .pos3 {
        background-color: #f1f1f1;
        transform: translateX(30%) scale(0.9);
        opacity: 0.5;

        img {
            pointer-events: none !important;
        }
    }

    @for $i from 4 through 10 {
        .pos#{$i} {
            transform: translateX(0%) scale(0.9);
        }
    }

    @media #{$medium-down-small-height} {
        width: 55%;
        height: 50rem;
    }

    @media #{$xSmall-down} {
        height: 45rem;
    }
}
