@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

.portfolioContainer {
    height: calc(#{$constraintSecHeight} - #{$navHeight}); 
    width: 88vw;
    min-width: 35rem;
    transition: transform 1.5s ease-out;
   // z-index: 7;
    border-radius: 2%;
    @extend %flex-center; 

    text-align: center;
    color: $text-primary-color;

    @media #{$medium-down-small-height} {
        height: auto;
        flex-direction: column;
        &.app{
           flex-direction: column-reverse;
           margin-top: 50px;
        } 
        .projectsContainer{
            width: 55%;
            min-height: 50rem;//58rem;
        }
    }

    @media #{$xSmall-down} {
        
        .projectsContainer{
            min-height: 45rem;//58rem;
        }
    }
}

.titleContainer{
    @extend %flex-center;
    height: 100%;
    flex-direction: column;
    .h2 {
        line-height: 5.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }
    .svg{
        height: 14rem !important;
        width: auto;  
    }

    @media #{$medium-down-small-height} {
        margin-bottom: 2rem;
        .svg{
            height: 15rem !important;
        }  
    }

    @media #{$xLarge-up} {
        .svg{
            height: 20rem !important;
        }  
    }

    @media #{$xxLarge-up} {
        .svg{
            height: 25rem !important;
        }  
    }
}



.projectsContainer {
    height: 80%;
    width: 40%;
    max-width: 400px;
    margin: 15px 0;
    position: relative;
     @extend %flex-center;
    flex-direction: column; 

    .project {
        pointer-events: all;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1%;
        z-index: -1;
        transition: all 0.5s ease-out;
        overflow: hidden;

        display: flex;
        flex-direction: column;

       & * {
            pointer-events: none;
        } 
    }

    .pos1{
        background-color: #f1f1f1;
        transform: translateX(-30%) scale(0.9);
        opacity: 0.5;

        img {
            pointer-events: none !important;
        }
    }

    .pos2 {
        background-color: #f1f1f1; //$light-primary-color; //$accent-color;
        z-index: 10;
        opacity: 1;
        box-shadow: 2px 3px 25px 4px #333;
    }

    .pos3 {
        background-color: #f1f1f1;
        transform: translateX(30%) scale(0.9);
        opacity: 0.5;

        img {
            pointer-events: none !important;
        }
    }

    @for $i from 4 through 10 {
        .pos#{$i} {
            transform: translateX(0%) scale(0.9);
        }
    }

}


/* @media screen and (max-width: 1000px) {

    .portfolioContainer{
        width: 75vw;
    }
     
}
 */


