@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

$sectHeigh: calc(100vh - #{$navHeight});
$marginBottom: 25px;
$formHeight: calc(#{$sectHeigh} - #{$visitCardHeight} - 2 * #{$visitCardMarginVert} - #{$marginBottom});

.sectionContact {
    background-color: $dark-primary-color;
    height: $sectHeigh;
    min-height:  550px;
    position: relative;
    @extend %flex-center;
    flex-direction: column;
    overflow: hidden;
}

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: $formHeight;
    min-height:  330px;
    width: 70vw;
    color: $text-primary-color;
    margin-bottom: $marginBottom;
    transition: transform 1s ease-out;

    h3 {
        align-self: flex-start;
        margin-bottom: 15px;
        font-weight: 600;
    }

    input,
    textarea {
        width: 100%;
        margin: 5px 0;
        padding: 10px 5px;
        background-color: $text-primary-color;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        &:focus {
            outline: none;
        }
    }

    input {
        height: 40px;
    }

    input[type="hidden"] {
        display: none;
    }

    textarea {
        flex-grow: 1;
        resize: none;
    }
}

.submitContainer {
    width: 100%;
    display: flex;
    align-items: center;

    .submitButton {
        background-color: $accent-color;
        outline: none;
        color: $text-accent-color;
        max-width: 100px;
        align-self: flex-start;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover {
            opacity: 0.8;
        }
    }

    .loader {
        align-self: flex-start;
        margin: 5px 0;
        border: 9px solid #f3f3f3; /* Light grey */
        border-top: 9px solid $accent-color;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    p {
        margin-left: 15px;
    }
}

.circleRed {
    position: absolute;
    top: -45px;
    left: 80%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: $accent-color;
    z-index: -1;
}

.circleBeige {
    position: absolute;
    top: 175px;
    left: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $beige;
    z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
