@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./utils";

$sect2Heigh: calc(200vh - 2 * #{$navHeight}); // 2*(100vh - 65px) because 65px is the height of the fixed navbar

.section2 {
    background-color: $light-primary-color;
    height:  $sect2Heigh;
    overflow: hidden;
    position: relative;

    @media #{$medium-down-small-height} {
        min-height:  1500px;
    }
}

.portfoliosContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 2s ease-out; 
    z-index: 6;
    pointer-events: none;
}


.cercleBeige, .cercleRouge{
    clip-path: polygon(0 50%,0 0, 100% 0, 100% 50%);
}

.cercleRouge {
    position: relative;
    transform-origin: top center;
    top: 0;
    left: 150px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    transition: transform 1s ease-out;
    z-index: 5;
    &::after {
        content: "";
        position: absolute;
        top: -50%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $accent-color;
        z-index: 5;
    }
    &:hover{
        transform: rotate(-180.0001deg) !important;
    }
}

.cercleBeige {
    position: absolute;
    transform-origin: top center;
    top: 65%;
    left: calc(100% - 100px);
    height: 200px;
    width: 200px;
    overflow: hidden;
    transition: transform 1s ease-out;
    z-index: 5;
    clip-path: polygon(0 50%,0 0, 100% 0, 100% 50%);
    &::after {
        content: "";
        position: absolute;
        top: -50%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $beige;
        z-index: 5;
    }
    &:hover{
        transform: rotate(-90deg)  !important;
    }
}



